<section id="registere" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_registere">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #establecimientoform="ngForm" (ngSubmit)="addestablecimiento(establecimientoform)" novalidate>
                                <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                                <div class="form-group">
                                   <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" required [(ngModel)]="establecimientoService.selectedestablecimiento.name">
                                </div>
                                <div class="form-group">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Correo" required [(ngModel)]="establecimientoService.selectedestablecimiento.email">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required [(ngModel)]="establecimientoService.selectedestablecimiento.password"> 
                                </div>
                                <!-- <button type="submit" class="btn btn-primary btn-block mr-2"> Limpiar</button> -->
                                <button type="submit" class="btn btn-secondary btn-block"> Registro</button>
                                <div class="form-group">
                                    <a routerLink="/user/login" class="form-control">ya tiene una cuenta creada?</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
